<h1><%= @figure.name %></h1>

<h3>Titles</h3>
<%@figure.titles.each do |title|%>
  <%if !title.nil?%>
  <ul>
    <li><%= title.name %></li>
  </ul>
  <%end%>
<%end%><br>

<h3>Landmarks</h3>
<%@figure.landmarks.each do |landmark|%>
  <%if !landmark.nil?%>
  <ul>
    <li><%= landmark.name %></li>
  </ul>
  <%end%>
<%end%>
